*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#mainEdu{
    background-Image:url("../img/FOTO_NOVA_FATEC.jpg");
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sectionRightDiv{
    color: white;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 600px;
    padding:20px 30px;
}
.sectionRightDiv h2{
    font-size:35px;
    padding-bottom:20px;
}
.sectionRightDiv h3{
    font-size:30px;
    padding-bottom:20px;
}
.sectionRightDiv p{
    font-size:27px;
    line-height: 50px;
}
@media(min-width:500px) and (max-width:800px){
    .sectionRightDiv{
        height:95vh;
        padding:10px 20px;
    }
    .sectionRightDiv h2{
        font-size:30px;
        padding-bottom:10px;
    }
    .sectionRightDiv h3{
        font-size:25px;
        padding-bottom:10px;
    }
    .sectionRightDiv p{
        font-size:25px;
        line-height: 50px;
    }
}
@media(max-width:500px){
    
    .sectionRightDiv{
        overflow: scroll;
        height:100vh;
        padding:10px 20px;
    }
    .sectionRightDiv h2{
        font-size:25px;
        padding-bottom:10px;
    }
    .sectionRightDiv h3{
        text-align: center;
        font-size:20px;
        padding-bottom:10px;
    }
    .sectionRightDiv p{
        text-align: center;
        font-size:20px;
        line-height: 40px;
    
    }
}