*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#containerHab{
    background-Image:url("../img/other.png");
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerMain{
    color: white;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 600px;
    padding:20px 30px;
}
.containerMain h2{
    font-size:35px;
    padding-bottom:20px;
}
.containerMain h3{
    font-size:30px;
    padding-bottom:20px;
}
.containerMain p{
    font-size:27px;
    line-height: 50px;
}







.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height:500px;
    /* border: 1px solid white; */
}
.skills > div{
    /* border: 1px solid black; */
    width: 200px;
    height: 80px;
    
    margin: 0 20px 20px 20px;
}
.skills > div > div {
    border: 1px solid white;
    width: 150px;
    height: 15px;
}
.skills > div:nth-child(1) div div{
    background-color: white;
    height: inherit;
    width: 50%;
    
}
.skills > div:nth-child(2) div div{
    background-color: white;
    height: inherit;
    width: 70%;
    
}
.skills > div:nth-child(3) div div{
    background-color: white;
    height: inherit;
    width: 70%;
    
}
.skills > div:nth-child(4) div div{
    background-color: white;
    height: inherit;
    width: 30%;
    
}
.skills > div:nth-child(5) div div{
    background-color: white;
    height: inherit;
    width: 50%;
    
}
.skills > div:nth-child(6) div div{
    background-color: white;
    height: inherit;
    width: 30%;
    
}
.skills > div:nth-child(7) div div{
    background-color: white;
    height: inherit;
    width: 50%;
    
} 