*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containerHab{
 
    background-Image:url("../img/other.png");
    background-size: cover;
  
    /* height: 100vh; */
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerMain{
    color: white;
    background-color: rgba(0,0,0,0.7);  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 2000px;
    padding:20px 30px;
}
.containerMain h2{
    font-size:35px;
    padding-bottom:20px;
}
.containerMain h3{
    font-size:30px;
    padding:0;
}
.containerMain p{
    font-size:27px;
    line-height: 50px;
    padding-bottom:30px;
}
.containerMain a{
    display:inline-block;
    text-decoration:none;
    color:white;
    font-size: 20px;
    border-radius:5px;
    width:120px;
    height:30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.301);
}
.containerMain a:hover{
    background-color: rgba(0, 0, 0, 0.719);
}
.skills, .outros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height:2000px;
   
}


.skills > div,
.outros > div{
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius:20px;
    padding:20px;
    width:400px;
    height:auto;
    background-color: rgba(255,255,255,0.2);


}


/* 
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    height:500px;
   
}
.skills > div{
 
    width: 200px;
    height: 80px;
    
    margin: 0 20px 20px 20px;
}
.skills > div > div {
    border: 1px solid white;
    width: 150px;
    height: 15px;
}
.skills > div:nth-child(1) div div{
    background-color: white;
    height: inherit;
    width: 50%;
    
}
.skills > div:nth-child(2) div div{
    background-color: white;
    height: inherit;
    width: 70%;
    
}
.skills > div:nth-child(3) div div{
    background-color: white;
    height: inherit;
    width: 70%;
    
}
.skills > div:nth-child(4) div div{
    background-color: white;
    height: inherit;
    width: 30%;
    
}
.skills > div:nth-child(5) div div{
    background-color: white;
    height: inherit;
    width: 50%;
    
}
.skills > div:nth-child(6) div div{
    background-color: white;
    height: inherit;
    width: 30%;
    
}
.skills > div:nth-child(7) div div{
    background-color: white;
    height: inherit;
    width: 50%;
    
}  */